.vs/*
/MedianDataStream/obj/*
/MedianDataStream/obj/Debug/*
/MedianDataStreamTests/obj/*
/MedianDataStreamTests/bin/*
/MedianDataStreamTests/bin/*/*
/MedianDataStreamTests/obj/Debug/*
/MedianDataStream/bin/*

